.card-review{
    width: 300px;
    height: 300px;
    border: 1px solid lightblue;
    border-radius: 10px;
    background-color:steelblue;
    color: white;
    
}

.card-review:hover{
    box-shadow: 20px 10px 20px 20px lightgray;
    border: 1px solid lightgrey;
}