
.card-image{
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.card{
    width: 400px;
    height: 500px;
    border: 1px solid lightblue;
    border-radius: 10px;
    
}

.card:hover{
    box-shadow: 30px 20px 30px 30px lightgray;
    border: 1px solid lightgrey;
}